.auth {
    display: flex;
    flex-direction: column;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-bottom: 54px;
}

.auth__additional-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.auth__additional-info input,
.auth__additional-info span {
    cursor: pointer;
}

.auth__additional-info input[type='checkbox'] {
  accent-color: var(--color-black);
}

.auth__actions {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.auth__actions a {
    text-align: center;

  transition: all 0.2s ease;
}

.auth__actions a:hover {
  color: var(--color-dove-gray);
}
