.input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.input__icon {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.input.ghost {
    padding: 5px 10px;

    background: var(--color-gallery);
    border-radius: 4px;
}

.input.transparent {
    padding: 5px 0;

    background: transparent;
    border-bottom: 1px solid var(--color-black);
}

.input__field {
    width: 100%;
    background: inherit;
    border-radius: inherit;
}

.input__field::placeholder {
    font-weight: 500;
}

.input__icon.left {
    order: -1
}